
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<script type="text/javascript">
  function openDonationModal(name){
    document.getElementById('extra-donation-name').value = name;
    var modal = new bootstrap.Modal(document.getElementById('add-donation-modal'), {});
    modal.show();
  }
</script>

<body class="admin">

<%- include ("../partials/nav.ejs") %>

<%- include ("../partials/admin-nav.ejs",  {page: "tab"}); %>

<div class="admin-content bg-dark container-fluid h-100">
    <div id="bartab">
      <table class="table table-striped table-bordered table-dark" data-toggle="table" data-flat="true" data-search="true" >
        <thead class="thead-dark">
          <tr>
            <th></th>
              <th data-field="" data-sortable="true">Name</th>
              <th data-field="" data-sortable="true">Drinks</th>
              <th data-field="" data-sortable="true">Bill</th>
              <th data-field="" data-sortable="true">Donated</th>
              <th data-field="" data-sortable="true">Unpaid</th>
              <th data-field="" data-sortable="true"></th>
          </tr>
        </thead>
        <tbody>
          <% var count = 0; %>
          <% results.forEach((order)=>{  %>
            <tr id="order-id-<%=count%>" data-index="<%= count %>">
              <td>
                <form id="extra-donation" method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 50)" action="/addExtraDonation" target="dummyframe">
                <input type="hidden" name="name" value="<%=order.name%>" />
                <div>
                  <input type="number" style="width: 100px" width="20" required class="inputsm" placeholder="donation" inputmode="decimal" pattern="[0-9]*"  name="amount" />
                </div>
                  <button class="btn btn-sm btn-primary" type="submit" data-bs-dismiss="modal">AddDonation</button>
              </form></td>
              <td><%= order.name %></td>
              <td><%= order.total_drinks %> </td>
              <td>$<%= order.total_cost %> </td>
              <td>$<%= order.total_donated %> </td>
              <td class="<%= order.unpaid_cost > 0 ? 'font-red' : '' %>">$<%= order.unpaid_cost %> </td>
              <td>
              <form id="done-<%=count%>" method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 50)" action="/closeBarTab" target="dummyframe">
                <input type="hidden" name="barTabName" value="<%=order.name%>" />
                <button class="btn btn-success <%= order.unpaid_cost == 0 ? 'disabled btn-outline-primary' : '' %>" type="submit">Pay Tab</button>
              </form>
            </td>
            <!-- <td>
              <button class="btn btn-primary" type="button" onclick="openDonationModal('<%= order.name%>')">Donate</button>
            </td> -->
          </tr>
          <% }) %>
        </tbody>
      </table>
      </div>

     <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    </div>

    <div id="add-donation-modal" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="fw-bold">Add an extra donation </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <form id="extra-donation" method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 50)" action="/addExtraDonation" target="dummyframe">
              <input id="extra-donation-name" name="name" readonly="readonly" />
              <div class="input-group input-group-sm mb-3">
                <input type="number" required class="inputsm form-control" placeholder="donation" inputmode="decimal" pattern="[0-9]*"  name="amount" />
                <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">Add Extra</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>

</body>
</html>
