
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <%- include ("../partials/header.ejs") %>
</head>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>

$(document).ready(function () {
  // reload the page after inactivity
  var time = new Date().getTime();
    $(document.body).bind("mousemove keypress click touchMove touchEnd", function(e) {
        time = new Date().getTime();
    });
    $(window).bind("scroll", function(e) {
        time = new Date().getTime();
    });
    
    function refresh() {
        if(new Date().getTime() - time >= 60000) 
            window.location.reload(true);
        else 
            setTimeout(refresh, 10000);
    }
    setTimeout(refresh, 10000);
  });
 
</script>

<body class="admin">

<%- include ("../partials/nav.ejs") %>

<%- include ("../partials/admin-nav.ejs",  {page: "main"}); %>

<div class="admin-content bg-dark">
  <div role="tabpanel" class="fade show active tab-pane" id="main">
    <table class="table table-striped table-bordered table-dark" data-toggle="table" data-flat="true" data-search="true" >
      <thead class="thead-dark">
        <tr>
            <th data-field="" data-sortable="true">Name</th>
            <th data-field="" data-sortable="true">Order</th>
            <th data-field="" data-sortable="true">Amount</th>
            <th data-field="" data-sortable="true">Cost</th>
            <th data-field="" data-sortable="true">Date</th>
            <th data-field="" data-sortable="true">Paid</th>
            <th data-field="" data-sortable="true">Status</th>
        </tr>
      </thead>
      <tbody>
        <% var count = 0; %>
        <% results.forEach((order)=>{  %>
            <tr id="order-id-<%=order.id%>" data-index="<%= count %>">
                <td><%= order.name %></td>
                <td><%= order.drink_title %> </td>
                <td><%= order.amount %> </td>
                <td>$<%= order.cost %> </td>
                <td><%= new Date(new Date(order.date).setHours(new Date(order.date).getHours() - 5)).toLocaleString() %></td>
                <td>
                  <form id="paid-<%=order.id%>" method="POST" action="/updatePaid" target="dummyframe">
                    <input type="checkbox" name="paidStatus" onchange="document.getElementById('paid-<%=order.id%>').submit()"  <%- order.is_paid ? 'checked' : '' %> data-on="yes" data-offstyle="danger" data-off="no" data-toggle="toggle">
                    <input type="hidden" name="orderId" value = "<%=order.id%>" />
                  </form>
                </td>
                <td>
                  <form id="done-<%=order.id%>" method="POST" action="/updateDone" target="dummyframe">
                    <input type="checkbox" name="doneStatus" onchange="document.getElementById('done-<%=order.id%>').submit()"  <%- order.is_done ? 'checked' : '' %> data-on="done" data-onstyle="success" data-offstyle="danger" data-off="waiting" data-toggle="toggle">
                    <input type="hidden" name="orderId" value = "<%=order.id%>" />
                  </form>
                </td>
              </tr>
            <% if(order.comments){ %>
            <tr>
                <td colspan="5"><%= order.comments %> </td>
            </tr>
            <% } %>
        <% }) %>
      </tbody>
    </table>
    </div>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    </div>
</body>
</html>
<script type="text/javascript">
  // Select all checkboxes with the name 'settings' using querySelectorAll.
  $('#paid-47').submit(function(e) {
        e.preventDefault();    
        var formData = new FormData(form[0]);

        $.ajax({
            url: form.attr("action"),
            type: 'POST',
            data: formData,
            success: function (data) {
              console.log('done')
                alert(data)
            },
            cache: false,
            contentType: false,
            processData: false
        });
      });

   $('form').each((index, form) => {
      form.submit(function(e) {
        e.preventDefault();    
        var formData = new FormData(form[0]);

        $.ajax({
            url: form.attr("action"),
            type: 'POST',
            data: formData,
            success: function (data) {
              console.log('done')
                alert(data)
            },
            cache: false,
            contentType: false,
            processData: false
        });
      });
  });
</script>