<!DOCTYPE html>

<script>
let orderElemId = window.location.hash

window.onload = function() {
      if(orderElemId){ // user is checking a specific order
        // highlight and navigate to the order
        var orderElem = document.getElementById(orderElemId.substring(1));
        if(orderElem != null){
            orderElem.classList.add('current-order');
            window.location = orderElemId;
        }else {
          new bootstrap.Modal(document.getElementById('ready-modal')).show();
        }

        // show the payment footer after an order
        document.getElementById('db-footer').classList.add('d-inline-block');
      }
} 
</script>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="orders">

<%- include ("../partials/nav.ejs") %>

<%
const statusClass = {
    waiting: "far fa-clock waiting-color",
    inprogress: "far fa-hand-point-left",
    complete: "far fa-check-square finished-color"
};
%>

<div class="container-fluid">
    <div class="fs-4 text-center">Drink orders show here. Refresh to check your spot in the queue.</div>

<div class="order-grid">
  <div class="row db-header">
        <div class="col-5" data-field="" data-sortable="true">Name</div>
        <div class="col-5" data-field="" data-sortable="true">Order</div>
        <div class="col-3 d-none" data-field="" data-sortable="true">Date</div>
  </div>
    <% var count = 0; %>
    <% results.forEach((order, i)=>{  %>
  <div id="order-<%=order.id%>" class="row main-row pt-2" data-index="<%= count %>">
    <div class="order-cell col-5"><%= order.name %></div>
    <div class="order-cell col-5"><%= order.drink_order %> </div>
    <div class="order-cell col-3 d-none">
      <%= new Intl.DateTimeFormat('en-US', 
      { month: 'short', day: 'numeric'}
      ).format(order.date) %>
        <div class="order-cell-small">
        <%= new Intl.DateTimeFormat('en-US', 
        {hour: 'numeric', minute: 'numeric'}
        ).format(order.date) %>
      </div>
      </div>
    <div class="col-2 px-4"><i class="status-icon fa <%=statusClass[order.status] %>"></i></div>
    <span class="col-12 comment"><i class="far fa-comment-dots px-2"></i><%= order.comments %></span>
  </div>
    <% }) %>
</div>
<div id="db-footer">
<%- include ("../partials/footer.ejs") %>
</div>


<div id="ready-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="green text-bungee text-center">YOUR XMAS SPIRIT IS READY</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p class="fs-3">SLIDE OVER TO THE BAR</p>
              <img class="m-auto" width="180" height="160" src="images/buddy.png" alt="buddy">
              <a class="xmas-button green" href="/menu">Get another present</a></p>
              More donation options are available
        </div>
        <div class="modal-footer justify-content-center">
            <a class="payment-icon paypal" href="https://paypal.me/jacobwwebber"></a>
            <a class="payment-icon cashapp" href="https://cash.app/$wakejebber"></a>
            <a class="payment-icon venmo" href="https://venmo.com/jacobwebber?txn=pay&note=drink4dakids"></a>        
        </div>
      </div>
    </div>
  </div>
</body>
</html>
