
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/stylesheets/jumbotron.css" />

<head>
  <%- include ("../partials/header.ejs") %>
</head>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script>

  $(document).ready(function () {
    
    var raisedAmount = <%=results.reduce((partialSum, a) => partialSum + (a.total_cost - a.unpaid_cost), 0) %>;
    var goalAmount = 2000;
    var loader = document.getElementById('candy-loader');
    var loaderText = document.getElementById('loader-text').innerHTML = `$ ${raisedAmount}`;
    loader.style.height = raisedAmount <= goalAmount ? Math.round(raisedAmount / goalAmount * 100) + '%' : '100%' ;
    
    // reload the page after inactivity
    var time = new Date().getTime();
      $(document.body).bind("mousemove keypress click touchMove touchEnd", function(e) {
          time = new Date().getTime();
      });
      $(window).bind("scroll", function(e) {
          time = new Date().getTime();
      });
      
      function refresh() {
          if(new Date().getTime() - time >= 60000 && location.hostname !== 'localhost') 
              window.location.reload(true);
          else 
              setTimeout(refresh, 10000);
      }
      setTimeout(refresh, 10000);
    });
   
  </script>

<body class="jumbotron">


<div class="container-fluid h-100 pt-4">
  <div class="row h-100">
    <div class="col-1"></div>
    <div class="col-1">
      <div class="speech-bubble topside" >$ 2000</div>
      <div id="candy">
        <div id="candy-loader"><div id="loader-text" class="speech-bubble"></div>
        </div>
      </div>
    </div>
    <div class="col-10">
  <div class="row">
    <article class="leaderboard">
      <div class="row">
        <h1 class="leaderboard__title">
          <span class="leaderboard__title--top text-bungee text-danger">Drink 4 The Kids</span>
          <span class="leaderboard__title--bottom text-ultra text-uppercase">Leaderboard</span></h1>
      </div>
      <div class="row justify-content-center top-three">
        <!-- SECOND PLACE -->
        <div class="col-2 text-center">
            <div class="placement">
              <img src="images/cousineddie.jpg" class="circle"  >
            </div>
            <span class="hex-label silver-label">2</span>
            <div class="info">
              <div class="top-leaderboard__name"><%= results[1].name %></div>
              <hr class="text-bar">
              <div class="leaderboard__value">$<%= results[1].total_cost - results[1].unpaid_cost %> </div>
            </div>
        </div>
        <!-- FIRST PLACE -->
        <div class="col-3 text-center">
          <div class="placement">
            <img src="images/buddyleader.jpg" class="first-circle">
          </div>
          <span class="hex-label gold-label">1</span>
          <div class="info-first">
            <div class="first-leaderboard__name"><%= results[0].name %></div>
            <hr class="text-bar">
            <div class="leaderboard__value">$<%= results[0].total_cost - results[0].unpaid_cost %> </div>
          </div>
        </div>
        <!-- THIRD PLACE -->
        <div class="col-2 text-center">
          <div class="placement">
            <img src="images/badsanta.jpg" class="circle" >
          </div>
          <span class="hex-label bronze-label">3</span>
          <div class="info">
          <div class="top-leaderboard__name"><%= results[2].name %></div>
          <hr class="text-bar">
          <div class="leaderboard__value">$<%= results[2].total_cost - results[2].unpaid_cost %> </div>
        </div>
        </div>

        <% results.slice(0, 3).forEach((user, i)=>{  %>

        <% }) %>
      </div>
        <div class="row pt-4 justify-content-center">
          <div class="col-4 pt-4">
              <div class="leaderboard__profiles">
                  <% results.slice(3, 10).forEach((user, i)=>{  %>
                        <article  id="order-id-<%=i%>" class="leaderboard__profile center">
                          <span class="leaderboard__rank"><%=i+4%></span>
                          <span class="leaderboard__name"><%= user.name %></span>
                          <span class="leaderboard__value float-end"><span>$</span><%= user.total_cost - user.unpaid_cost %> </span>
                        </article>
                        
                <% }) %>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    </div>
  </div>
    
</body>
</html>